API_KEY=
DATABASE_HOST=localhost
DATABASE_USERNAME=kmg_user
DATABASE_PASSWORD=smart
DATABASE_PORT=5422
DATABASE_NAME=smart

EMAIL_HOST=outlook.kmg.kz
EMAIL_PORT=587
EMAIL_HOST_USER=smart@kmg.kz
EMAIL_HOST_PASSWORD=

APP_BASE_URL=https://185.195.26.21:8443

PATH_SSL_PUB=
PATH_SSL_KEY=

API_SMAX_URL=https://sms.kmg.kz/rest/855226221/ems
API_SMAX_URL_TOKEN=https://sms.kmg.kz/auth/authentication-endpoint/authenticate/token
